* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --primary: #6e78ff;
  --secondary: #263238;
  --light-gray: #f9f9f9;
  --dark-gray: #808080;
  --gray: #ddd;
}

/* body */
body {
  background-color: var(--light-gray);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* container */
.container {
  margin: 0 auto;
  padding: 24px;
  width: 1200px;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
}

header #logo {
  max-height: 28px;
  display: inline-block;
}

header #logo img {
  filter: invert(1);
}

/* music list */
#music_list {
  margin: 100px 0;
  border-top: 2px solid var(--gray);
}

#music_list .music {
  width: 100%;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 2px solid var(--gray);
  color: var(--secondary);
  text-transform: capitalize;
}

#music_list .music > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#music_list .music > div span {
  margin-right: 24px;
}

/* player */

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--gray);
}

footer .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control {
  width: 100%;
}

.time-line-bg {
  cursor: pointer;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: var(--dark-gray);
}

.time-line {
  width: 0%;
  height: 5px;
  border-radius: 5px;
  background: var(--secondary);
}

.time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: var(--dark-gray);
  margin-top: 6px;
  margin-bottom: 12px;
  letter-spacing: 1px;
}

.btn {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#prev,
#next,
#paly-pause,
#repeat-one,
#shuffle {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

#repeat-one {
  margin-right: 25px;
}

#shuffle {
  margin-left: 25px;
}

.image-title-box {
  display: flex;
  align-items: center;
}

#image {
  margin-right: 12px;
}

.text #song__title {
  text-transform: capitalize;
}

.text #song__artist {
  color: var(--dark-gray);
  margin-top: 6px;
  font-size: 12px;
}

@media (max-width: 1200px) {
  .container {
    width: 1024px;
  }
}

@media (max-width: 990px) {
  .container {
    padding: 12px;
    width: 100%;
  }

  #music_list {
    margin-top: 64px;
  }

  #music_list .music {
    padding: 12px;
  }

  #music_list .music > div span {
    margin-right: 12px;
  }

  #music_list .music small {
    font-size: 12px;
  }

  .text #song__title {
    font-size: 16px;
  }
  .text #song__artist {
    font-size: 10px;
    max-width: 175px;
  }

  .btn {
    width: 120px;
  }
}
